<h1 class="mat-display-1" style="margin-top:2em; text-align:center;">Create a User</h1>

<mat-card>
  <form (ngSubmit)="onSubmit()" #todoForm="ngForm">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="user.name" name="name" placeholder="User's name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="user.photoURL" name="photoURL" placeholder="User's photoURL" />
    </mat-form-field>

    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary">Create</button>
      <button type="reset" mat-raised-button color="primary">Reset</button>
    </mat-card-actions>
  </form>
</mat-card>
