<form [formGroup]="socialForm" (ngSubmit)="onSubmit()">
  <h3> {{ additiontitle }} </h3>
  <label>
    Enter Social Platform:
    <input type="text" [(ngModel)]="platform" formControlName="socialPlatform" required>
  </label>
<br>
  <label>
    User Name:
    <input type="text" [(ngModel)]="user" formControlName="userName" required>
  </label>
<br>
  <label>
    Password:
    <input type="text" [(ngModel)]="password" formControlName="password" required>
  </label>
<br>
  <button type="submit"
  [disabled]="!socialForm.valid" [innerText]="addbuttonName" (click)="addbuttonClicked()"></button>
<br>
  <button type="button"
  [innerText]="clearbuttonName"></button>
  <p>
    Entered Information: <br>
    Platform: {{platform}} <br>
    User Name: {{user}} <br>
    Password: {{password}} <br>
  </p>
</form>
